In [1]:
from Game import Game
import argparse
game = Game(game_id='0021500492')
game.event_index = 5
_ = game.read_json()
#

swap side quater 3
swap side quater 4

In [2]:
a, b = game.get_move_seq_dfs()

c:\Users\admin\Downloads\nba\Game.py:468: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df.rename(columns=ball_cord_names, inplace=True)

In [4]:
b

        move_id  moment_id         x         y        z  object_id
0             0          0  33.08382  41.39121  5.78885         -1
11           11          1  33.06907  41.88465  6.28046         -1
22           22          2  32.96188  42.42479  6.55345         -1
33           33          3  32.90732  42.56305  6.83685         -1
44           44          4  32.46702  42.72148  7.07852         -1
...         ...        ...       ...       ...      ...        ...
862070   862070      78370  11.76434  33.84456  3.36596         -1
862081   862081      78371  12.03679  33.85459  3.54923         -1
862092   862092      78372  12.32326  33.86240  3.69196         -1
862103   862103      78373  12.62239  33.86827  3.79922         -1
862114   862114      78374  12.93283  33.87247  3.87607         -1

[53421 rows x 6 columns]